&-main {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  background-color: inherit;
  $mainMenu: #{&};
  transition: background 0.3s ease;
  min-height: var(--s-header-height);

  &__logo {
    align-self: center;
    &-link {
      text-decoration: none;
    }
    &-image {
      width: 100%;
      max-width: px-to-rem(200);
      max-height: px-to-rem(28);
      display: block;
    }
  }

  &__toggle {
    color: $c-white;
    transition: color 0.3s ease;
    border: none;
    background: transparent;
    box-shadow: none;
    padding: 0 px-to-rem(5);
    font-size: px-to-rem(25);
    width: 1.4em;
    height: 1.4em;
    position: relative;
    z-index: 10;

    &-open,
    &-close {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &-open {
      opacity: 1;
    }

    &-close {
      font-size: px-to-rem(23);
      opacity: 0;
    }

    #{$mainMenu}.is-open & {
      //color: $c-white;
      &-open {
        opacity: 0;
      }
      &-close {
        opacity: 1;
      }
    }

  }

  &__container {
    @extend .l-container;
    display: flex;
    align-items: center;
    padding-top: px-to-rem(28);
    padding-bottom: px-to-rem(18);
    height: 100%;
  }

  &__bar {
    display: flex;
    justify-content: space-between;
    flex: 1 1 100%;
  }


  @include media-breakpoint-up(lg) {

      $mainBlock: #{&};
      height: var(--s-header-height);

        &.is-scroll {
          background: $c-black;
        }


      &.is-invisible {
        visibility: hidden;
        #{$mainBlock}__logo {
          visibility: visible;
        }
      }

      &__logo {
        &-image {
          max-width: px-to-rem(248);
          max-height: px-to-rem(35);
        }
      }

      &__container {
        padding-top: px-to-rem(20);
      }

      &__toggle {
        display: none;
      }

      &__bar {
        flex: 0 0 auto;
      }

  }


  @include media-breakpoint-up(xl){
      &__list {
        &--main {
          padding-left: px-to-rem(34);
        }
      }
      &__item {
        &:not(:first-child){
          margin-left: px-to-rem(34);
        }
      }

      &__link {
        font-size: px-to-rem(18);
      }
  }

}