.l-container {
  max-width: $s-content;
  margin: 0 auto;
  @include paddingResponsive($s-content-padding, x);
  @include media-breakpoint-up(md) {
    max-width: px-to-rem(768);
  }
  @include media-breakpoint-up(lg) {
    max-width: $s-content;
  }
}