.c-card {
  width: 100%;
  &__items {
    padding: $s-space-normal-mobile;
    border-radius: px-to-rem(10);
    box-shadow: 4px 8px 25px rgba(65, 65, 65, 0.1);
    margin-bottom: $s-space-small-mobile;
  }

  &__img {
    margin-bottom: $s-space-normal-mobile;
  }

  &__title {
    margin-bottom: $s-space-middle-mobile;
    color: $c-text;
  }

  &__text {
    color: $c-accent;
  }
  &__link {
    font-weight: 600;
    margin-top: $s-space-small-desktop;
    display: inline-block;
  }
  @include media-breakpoint-up(md){

      width: 48%;

  }
  @include media-breakpoint-up(lg){

      width: 24%;

  }
}