.footer{
  background: $c-accent-bg;
  padding-top: px-to-rem(68);
  &__container {
    @extend .l-container;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: px-to-rem(56);
    border-bottom: px-to-rem(1.5) solid #C0CBC6;;
  }
  &__menu {
    list-style: none;
    width: px-to-rem(250);
    display: flex;
    flex-wrap: wrap;
    color: $c-text;
    margin-bottom: px-to-rem(28);
  }
  &__item {
    width: 50%;
    margin-bottom: $s-space-small-mobile;
  }
  &__subscribe {

    display: flex;
    flex-direction: column;
    background: $c-white;
    padding: px-to-rem(16)  px-to-rem(16) $s-space-normal-mobile px-to-rem(16);
  }
  &__media {
    height: px-to-rem(160);
    width: 100%;
    margin-bottom: $s-space-middle-mobile;
    img {
      border-radius: $s-space-tiny;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &__title {
    margin-bottom: $s-space-middle-mobile;
    color: $c-black;
  }
  &__description {
    margin-bottom: $s-space-middle-mobile;
    color: $c-accent;
  }
  &__input {
    margin-bottom: $s-space-middle-mobile;
  }
  &__inner {
    padding: 0 px-to-rem(16);
  }
  &__form {
    position: relative;
  }
  &__submit {
    width: 100%;
  }

  &__input {
    width: 100%;
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $s-space-normal-mobile 0;
  }
  &__social {
    min-width: px-to-rem(196);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  &__copy {
    text-align: center;
    margin-bottom: $s-space-normal-mobile;
  }
  &__logo {
    margin-bottom: $s-space-normal-mobile;
  }


  @include media-breakpoint-up(md) {
    &__wrapper {
      padding-bottom: $s-space-the-biggest-mobile;
    }
    &__subscribe {
      padding: px-to-rem(16) $s-space-normal-mobile px-to-rem(16)  px-to-rem(16);
      width: px-to-rem(660);
      flex-direction: row;
    }
    &__email {
      padding-right: px-to-rem(144);
    }
    &__submit {
      width: auto;
      position: absolute;
      top: 0;
      right: 0;
      padding-left: $s-space-the-biggest-mobile;
      padding-right: $s-space-the-biggest-mobile;
    }
    &__media {
      margin-right: $s-space-normal-mobile;
      width: px-to-rem(160);
    }
    &__title {
      margin-bottom: $s-space-tiny;
      margin-top: px-to-rem(16);
    }
    &__wrap {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    &__copy{
      text-align: left;
      margin-bottom: 0;
      max-width: px-to-rem(243);
    }
    &__logo{
      //margin-right: px-to-rem(190);
      //margin-bottom: 0;
      margin: 0 auto;
    }
    &__social {
      min-width: auto;

    }
    &__link {
      margin-left: px-to-rem(32);
    }
  }
  @include media-breakpoint-up(lg) {
    padding-top: px-to-rem(56);
    &__wrapper {
      flex-direction: row;
      justify-content: space-between;
    }
    &__subscribe {
      width: 50%;
    }
    &__menu {
      margin-bottom: 0;
    }

    &__copy {
      max-width: 100%;
    }
  }
}