.header {
  --bg-color: rgba(16, 16, 29, 0.9);
  background-color: var(--bg-color);
  padding-top: var(--s-header-height);
  position: fixed;
  z-index: 100;
  @import "header/header-main";
  @import "header/header-nav";
}