.s-blog {
  margin-top: $s-space-middle-desktop + $s-header-height;
  padding-bottom: $s-space-small-desktop;
  &__container {
    @extend .l-container;
  }
  &__title {
    text-align: center;
    margin-bottom: $s-space-small-desktop;
  }

  &__card {
    box-shadow: 4px 8px 25px rgba(65, 65, 65, 0.1);
    border-radius: px-to-rem(10);
    margin-bottom: $s-space-small-mobile;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__media {
    margin-bottom: $s-space-middle-mobile;
    padding: px-to-rem(16) px-to-rem(16) 0 px-to-rem(16);
  }

  &__headline {
    margin-bottom: $s-space-middle-mobile;
    padding: 0 $s-space-normal-mobile;
    color: $c-black;
  }

  &__description {
    margin-bottom: $s-space-middle-mobile;
    padding: 0 $s-space-normal-mobile;
    color: $c-accent;
  }

  &__link {
    margin-bottom: px-to-rem(50);
    display: inline-block;
    padding: 0 $s-space-normal-mobile;
    color: $c-brand;
    font-weight: bold;
  }

  &__button {
    text-align: center;
    margin-top: $s-space-normal-mobile;
  }

  @include media-breakpoint-up(lg) {
    &__wrapper {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__card {
      width: 49%;
    }
  }
}