.s-example {
  padding: px-to-rem(60) 0;

  &__container {
    @extend .l-container;
  }

  &__line {
    @include fontSizeResponsive($fs-text);
    line-height: 1.6;
    padding-top: px-to-rem(80);
    //padding-bottom: px-to-rem(40);
  }

}