.s-hero{
  margin-top: $s-header-height + $s-space-middle-desktop;
  padding-bottom: $s-space-small-desktop;
    &__container{
      @extend .l-container;
    }
  &__description{
    margin-bottom: $s-space-the-biggest-mobile;
  }
  &__title{
    margin-bottom: $s-space-normal-mobile;
  }
  &__text{
    color: $c-accent;
    margin-bottom: $s-space-the-biggest-mobile;
  }
  @include media-breakpoint-up(md){
    max-width: $s-inner-width-md;
    margin-right: auto;
    margin-left: auto;
    &__description{
      margin-bottom: $s-space-small-desktop;
    }
  }
  @include media-breakpoint-up(lg){
   //padding-top: $s-space-normal-desktop;
    padding-bottom: $s-space-normal-desktop;
    max-width: $s-content;
    &__content{
     display: flex;
   }
    &__description{
      width: 50%;
    }
    &__image{
      width: 50%;
    }
  }
}