.s-service {
  padding-bottom: $s-space-small-desktop;
  border-bottom: px-to-rem(1.5) solid #C0CBC6;
  &__container {
    @extend .l-container;
  }
  &__cards {
    display: flex;
    flex-direction: column;
  }
  &__title{
    text-align: center;
    margin-bottom: $s-space-small-desktop;
  }
  &__text{
    color: $c-accent;
    margin-bottom: $s-space-normal-mobile;
  }

  &__button{
    text-align: center;
    margin-top: $s-space-small-desktop;
  }
  @include media-breakpoint-up(md){
    max-width: $s-inner-width-md;
    margin: 0 auto;
    &__text{
      margin-bottom: $s-space-middle-desktop;
    }
    &__cards {
      justify-content: space-between;
      flex-wrap: wrap;
      flex-direction: row;
    }
  }
  @include media-breakpoint-up(lg) {
    max-width: $s-content;
    &__title{
      text-align: left;
    }

    &__text{
      width: 50%;
    }

  }
}