.btn {
  --btn-bg: #{$c-brand};
  --btn-text: #{$c-white};
  --btn-bg-hover: #{$c-white};
  --btn-text-hover: #{$c-brand};
  --btn-border: #{$c-white};


  font-family: $font-base;
  font-weight: 400;
  @include fontSizeResponsive($fs-button);
  line-height: 1.2;
  border: px-to-rem(1) solid var(--btn-border);
  box-shadow: none;
  min-width: px-to-rem(183);
  border-radius: px-to-rem(4);
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  text-align: center;
  transition: color 0.3s linear, background 0.3s linear;
  padding: px-to-rem(13) px-to-rem(32);
  overflow: hidden;
  background:  var(--btn-bg);
  color: var(--btn-text);
  text-transform: uppercase;

  &:hover {
    color: var(--btn-text-hover);
    background:  var(--btn-bg-hover);
  }
  &:focus,
  &:active {
    color: var(--btn-text-hover);
    background: var(--btn-bg-hover);
  }

  &:disabled,
  &.disabled {
    color: rgba($c-black, 0.4);
  }

  &--alternative {
    --btn-bg: #{$c-white};
    --btn-text: #{$c-black};
    --btn-bg-hover: #{$c-black};
    --btn-text-hover: #{$c-white};
    --btn-border: #{$c-black};
  }
}