
.btn-clean {
  background: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  outline: none;
  font-size: inherit;
  color: inherit;
}

.btn {
  font-family: $font-base;
  font-weight: $fw-title-1;
  box-shadow: none;
  border-radius: $s-space-tiny;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  text-align: center;
  position: relative;
  padding: px-to-rem(16) $s-space-small-desktop;
  overflow: hidden;
  background: $c-brand;
  color: $c-white;

  &:hover, &:active, &:focus {
    background: #304E3E;
  }

  &:disabled,
  &.disabled {
    color: rgba($c-black, 0.4);
  }
}