.el-field {
  position: relative;
  color: #272733;
  font-size: $fs-base;
  line-height: 1.2;
  &__input {
    display: block;
    border: 1px solid $c-white;
    background: rgba(255, 255, 255, 0.85);
    border-radius: px-to-rem(3);
    max-width: 100%;
    padding: px-to-rem(12) px-to-rem(10);
    text-align: left;
    text-align-last: left;
    transition: border 0.3s ease, background 0.3s ease;
    box-shadow: none;
    width: 100%;
    height: px-to-rem(48);

    &:focus-visible {
      outline: none;
      border-color: $c-accent;
    }

    &[disabled] {
      background-color: $c-disabled;
      -webkit-text-fill-color: $c-accent;
    }

    &::placeholder {
      visibility: hidden;
    }
    &::-moz-placeholder {
      opacity: 0;
    }
    &:focus {
      background: #3A3C4C;
      color: $c-white;
      border-color: #3A3C4C;
    }
    &:focus ~ .el-field__label,
    &:not(:placeholder-shown) ~ .el-field__label {
      top: px-to-rem(-10);
      left: px-to-rem(16);
      font-size: px-to-rem(12);
      background: #3A3C4C;
      color: $c-white;
      border-radius: px-to-rem(3);
      z-index: 10;
      padding: 0 px-to-rem(8);
    }
  }

  &__label {
    text-align: left;
    display: block;
    position: absolute;
    top: px-to-rem(12);
    left: px-to-rem(10);
    transition: 0.3s;
    font-size: $fs-base;
    cursor: inherit;
    line-height: 1.2;
  }

  &__error {
    text-align: left;
    color: $c-error;
    font-size: 0.8em;
  }

}