.el-select {
    position: relative;
    --field-text-color: #{$c-brand};
    --field-border-color: #{$c-border};
    color: var(--field-text-color);
    --field-error-color: #{$c-error};
    &:before {
        content: "";
        background: url("/images/arrow.svg") no-repeat;
        width: px-to-rem(20);
        height: px-to-rem(12);
        position: absolute;
        right: px-to-rem(6);
        top: px-to-rem(25);
        transform: translate(-50%, -50%);
        display: block;
        z-index: -1;


    }
    &__error {
        position: absolute;
        bottom: -25%;
        left: 7%;
        color: red;
        background: $c-white;
        padding: 0 px-to-rem(6);
        font-size: px-to-rem(12);
        z-index: 8;
        margin-bottom: .25rem;
    }

    &__field {
        appearance: none;
        width: 100%;
        height: px-to-rem(50);
        background: transparent;
        border:  px-to-rem(1) solid var(--field-border-color);
        outline: none;
        padding: 0 $s-space-middle-mobile;
        border-radius: $s-space-tiny;
        color: var(--field-text-color);
    }
    &.is-invalid {
        --field-text-color: var(--field-error-color);
        --field-border-color: var(--field-error-color);
    }
}
