.el-title {

  &-1{
    font-weight: $fw-title-1;
    font-size: $fs-title-1;
    line-height: $lh-title-1;
  }
  &-2{
    font-weight: $fw-title-1;
    font-size: $fs-title-2;
    line-height: $lh-title-1;
  }
  &-3{
    font-weight: $fw-title-1;
    font-size: $fs-title-3;
    line-height: $lh-title-3;
  }
 }