.el-wysiwyg {
  color: $c-accent;
 h1, h2, h3, h4, h5, h6, ul, ol, img, blockquote, strong {
   margin-bottom: $s-space-normal-mobile;
 }
  h1, h2, h3, h4, h5, h6 {
    color: $c-text;
    max-width: px-to-rem(596);
  }
  p {
    margin-bottom: $s-space-middle-mobile;
  }
  img {
    border-radius: $s-space-tiny;
    margin-top: $s-space-small-desktop;
    margin-bottom: $s-space-small-desktop;
  }
  strong {
    display: inline-block;
  }
  li {
    list-style-position: inside;
  }
}