{% extends "./layout/base.twig" %}

{% block content %}


    <div class="s-example">
        <div class="s-example__container">
            <h1 class="el-title">
                HTML Starter KIT
            </h1>

            <a href="/examples.html" class="btn">
                Check Examples
                {% include "elements/icon.twig"  with { name: "ic-angle-right", not_element: true, modifier: "btn__icon" } %}
            </a>

        </div>
    </div>

{% endblock %}
