// Colors
$c-white: #ffffff;
$c-black: #000000;
$c-gray:  #BBBBBB;
$c-dark: #272733;

$c-brand: #3E9CDC;

$c-accent: #304e91;

$c-text: #4b4b4b;

$c-error: red;

$c-main-bg: #f2f6fa;

$c-border: #3D4050;
$c-disabled: #f3f3f3;

$c-focus: #1ee61e;