// Colors
$c-white: #ffffff;
$c-black: #000000;
$c-gray:  #7C7C7C;


$c-brand: #4F8066;

$c-accent: #6D6D6D;

$c-text: #323232;

$c-error: red;

$c-main-bg: #E5E5E5;
$c-accent-bg: #F2F6F4;

$c-border: rgba(192, 206, 190, 0.5);
$c-disabled: #f3f3f3;
