// Typography

// Font sizes:
$fs-base: px-to-rem(16);
$fs-title-1: px-to-rem(56);
$fs-title-2: px-to-rem(32);
$fs-title-3: px-to-rem(26);

// Font weight

$fw-base: 400;
$fw-title-1: 600;

// Line height

$lh-base: 1.6;
$lh-title-1: 1.2;
$lh-title-3: 1.4;


// Fonts
$font-base: 'Mulish', sans-serif;


