// Typography

// Fonts:
$font-base: 'Lato', sans-serif;


// Font sizes:

$fs-base: px-to-rem(18);

$fs-text:(
    xs: px-to-rem(16),
    md: px-to-rem(20),
);

$fs-title-1: (
        xs: px-to-rem(36),
        md: px-to-rem(44),
        xl: px-to-rem(48)
);
$fs-title-3: (
        xs: px-to-rem(24),
        md: px-to-rem(30),
        xl: px-to-rem(36)
);
$fs-button: (
    xs: px-to-rem(10),
    md: px-to-rem(13),
);

$fs-title-2: px-to-rem(24);