// Typography

// Fonts:
$font-base: 'Montserrat', sans-serif;


// Font sizes:

$fs-base: px-to-rem(16);

$fs-text:(
    xs: px-to-rem(16),
    md: px-to-rem(18),
);

$fs-title-1: (
        xs: px-to-rem(36),
        md: px-to-rem(44),
        xl: px-to-rem(48)
);

$fs-title-2: px-to-rem(24);