.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-ic-angle-right {
  width: 448px;
  height: 512px;
}
.icon-ic-burger {
  width: 192px;
  height: 512px;
}
.icon-ic-burger2 {
  width: 300px;
  height: 251px;
}
.icon-ic-close {
  width: 352px;
  height: 512px;
}
.icon-ic-google {
  width: 42px;
  height: 42px;
}
.icon-ic-instagram {
  width: 42px;
  height: 42px;
}
.icon-ic-linkedin {
  width: 42px;
  height: 42px;
}
.icon-ic-logo {
  width: 60px;
  height: 13px;
}
.icon-ic-logo2 {
  width: 246px;
  height: 22px;
}
.icon-ic-twitter {
  width: 42px;
  height: 42px;
}
.icon-menu-icon {
  width: 310px;
  height: 259.344px;
}
