@mixin image-fit {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    position: absolute;
    display: block;
    left: -10000%;
    right: -10000%;
    top: -10000%;
    bottom: -10000%;
    z-index: 1;
    margin: auto auto;
    min-width: 1000%;
    min-height: 1000%;
    width: auto;
    height: auto;
    transform: scale(0.1);
    max-width: none;
    max-height: none;
  }
}